/*reset*/
body {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

h1 {
    font-family: 'Microsoft YaHei';
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu {
    font-size: 16px;
    font-weight: bold;
}

.treeview-menu {
    font-size: 12px;
    font-weight: normal;
}

.skin-blue .treeview-menu>li.active>a,
.skin-blue .treeview-menu>li>a:hover {
    color: #f4f4f4;
}
.skin-blue .content-header{
    overflow: hidden;
    width: 100%;
}
/**login**/
#login{
    background: #191c2c;
    color:#4d6287;
    overflow: hidden;
}
.title{
    position: fixed;
    top:50%;
    left:0;
    width:100%;
    text-align: center;
    color:#2ec0f6;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    margin: -300px 0 0 0;
    z-index: 1;
}
#page .img-back{
    position: fixed;
    top:145px;
    left:0;
    right:0;
    z-index: 0;
    margin: 0 auto;
}
.map{
    width:400px;
    height:315px;
    overflow: hidden;
    background: url('../img/map.png');
    background-size: 400px 315px;
    position: fixed;
    top:375px;
    left:100px;
    filter:alpha(opacity=50); 
	-moz-opacity:0.50; 
	opacity:0.50;  
}
.map-content{
    position: fixed;
    width: 500px;
    height:415px;
}
.map-content .map-content-cover{
    width:150px;
    height:150px;
    position: fixed;
    top:458px;
    left:250px;
    right:0;
}
.map-content-sclace{
    width: 100px;
    height:100px;
    border-radius: 360px;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-animation: pointRadius 1s ease 0s infinite;
    animation: pointRadius 1s ease 0s infinite;
}
@-webkit-keyframes pointRadius{
    0%{width:10px;height:10px;background: rgba(147,177,196,0.8);}
    25%{width:150px;height:150px;background: rgba(0,97,214,0.6);}
    75%{width:160px;height:160px;background: rgba(214,5,0,0.0);}
    90%{width:100px;height:100px;background: rgba(0,127,214,0.6);}
    100%{width:10px;height:10px;background: rgba(149,179,196,0.8);}
}
.circle-rotate{
    width:250px;
    height:250px;
    position: fixed;
    top:260px;
    left:999px;
    right:0;
    margin: 0 auto;
}
.circle-1{
    background: url(../img/circle-1.png) no-repeat left top;
    background-size:250px 250px;
    z-index: 30;
}
.circle-2{
    background: url(../img/circle-2.png) no-repeat left top;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 21;
    filter:alpha(opacity=50); 
	-moz-opacity:0.50; 
	opacity:0.50; 
    border-radius: 175px;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}
.circle-3{
    background: url(../img/circle-3.png) no-repeat left top;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 25;
    border-radius: 175px;
    -webkit-animation: rotate 15s infinite linear;
    animation: rotate 15s infinite linear;
    -webkit-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}
.circle-4{
    background: url(../img/circle-4.png) no-repeat left top;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 22;
    filter:alpha(opacity=70); 
	-moz-opacity:0.70; 
	opacity:0.70;
    border-radius: 175px;
    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
}
.circle-5{
    background: url(../img/circle-5.png) no-repeat;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 21;
    border-radius: 175px;
    filter:alpha(opacity=50); 
	-moz-opacity:0.50; 
	opacity:0.50;
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
    -webkit-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}
.circle-6{
    background: url(../img/circle-6.png) no-repeat;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 21;
    border-radius: 175px;
    filter:alpha(opacity=50); 
	-moz-opacity:0.50; 
	opacity:0.50;
    -webkit-animation: rotate 1.7s infinite linear;
    animation: rotate 1.7s infinite linear; 
}
.circle-7{
    background: url(../img/circle-7.png) no-repeat;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 21;
    border-radius: 175px;
    filter:alpha(opacity=80); 
	-moz-opacity:0.80; 
	opacity:0.80;
    -webkit-animation: rotate 25s infinite linear;
    animation: rotate 25s infinite linear; 
}
.circle-8{
    background: url(../img/circle-8.png) no-repeat;
    background-size: 250px 250px;
    -webkit-background-size:250px 250px;
    z-index: 21;
    border-radius: 175px;
    filter:alpha(opacity=80); 
	-moz-opacity:0.80; 
	opacity:0.80;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}
@-moz-keyframes rotate{
    100%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate{
    100%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes rotate{
    100%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.grid-bot{
    width: 616px;
    height:103px;
    position: fixed;
    bottom: 20px;
    left:0;
    right:0;
    margin: 0 auto;
    background: url('../img/grid.png');
    background-size: 616px 103px;
    opacity: 0.3;
    z-index: 21;
}
.grid-text{
    font-size: 55px;
    z-index: 22;
    text-align: center;
    line-height: 103px;
    color:#2ec0f6;
    background-image: -webkit-linear-gradient(left,#0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-animation: masked 3s infinite linear;
}
@-webkit-keyframes masked{
    0%{background-position: 0 0;}
    100%{background-position: -100% 0;}
}
.log-form-out{
    position: fixed;
    top:16%;
    left:41.5%;
    z-index: 1000;
}
.log-form{
    background-color: #23305a;
    width: 330px;
    height:auto;
    margin: 120px auto 0 auto;
    color:#2ec0f6;
}
.log-form form{
    padding: 10px;
}
.content-form{
    width: 310px;
    text-align: left;
}
.content-form p{
    line-height: 22px;
    font-size: 14px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    padding: 10px 0;
}
.content-form p span{
    width: 60px;
    display: inline-block;
    padding-left: 10px;
    border-right: 1px solid #a69290 
}
.content-form p input{
    height:22px;
    vertical-align: top;
    width:200px;
    background: #fff;
    padding-left: 5px;
    outline: none;
    border:none;
}
/**index**/
#welcome{
    margin: 0;
}
#welcome h2{
    font-size: 40px;
    padding-left: 140px;
}
#welcome h3{
    margin-top: 0;
    font-size: 22px;
    padding-left: 140px;
}
#welcome>.content{
    padding-left: 0;
    padding-right: 0;
}
.sorting{
    margin: 40px 140px 0;
}
.sorting span.pull-right{
    font-size: 16px;
    font-weight: bold;
}
.sorting .col-md-3{
    padding-right: 45px;
}
.sorting p{
    color:grey;
}
/**grid**/
.content-header>.breadcrumb{
    float: none;
    font-size: 14px;
    position: static;
    width: 100%;
}
.table-responsive{
    margin-top:20px;
}
.td-omit{
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-list-in-box>.item{
    border-bottom:2px solid #3c8dbc;
}
.product-list-in-box>.item:first-of-type{
    border-top:2px solid #3c8dbc;
}
.product-list-in-box>.item:last-of-type{
    border-bottom: 2px solid #3c8dbc;
}
/**general**/
.content .header{
    margin-top:10px;
    margin-bottom: 25px;
}
.graphic{
    height:100%;
    width: 100%;
}
.graphic>li{
    display: inline-block;
    height:100%;
    width:32%;
    border-right:1px dotted grey;
}
.graphic>li:last-of-type{
    border:0;
}
.graphic h4{
    margin: 0;
}
.content .header>span{
    font-size: 18px; 
}
.content .header>span::before{
       padding: 0 5px;
       content:'>\00a0';
}
.box-widget>.box-header{
    background: #000;
    color:#fff;
}
.box-table>.box-header{
    background: transparent;
    color:inherit;
}
.form-horizontal hr{
    border-top:2px dashed #eee;
}
/**metadate**/
.metadate{
    margin: 0;
}
.metadate>li>a, .metadate>li>span{
    border:none;
    color:#333;
}
.metadate>li>a:focus, .metadate>li>a:hover, .metadate>li>span:focus, .metadate>li>span:hover{
    color:#333;
    background: transparent;
}
td,th{
    text-align: left;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.index-menu .indexTree{
    display: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.index-menu a{
    color:#333;
}
.index-menu li.active>.indexTree{
    display: block;
}
.index-menu .indexTree>li>a{
    padding: 5px 5px 5px 15px;
    display: block;
}
.index-menu>li>a{
    cursor: pointer;
}
.index-menu .indexTree .indexTree{
    padding-left: 20px;
}
legend{
    font-size: 18px;
}
.datepicker{
    padding: 0;
    border-radius: 0;
}